
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 600; }



h1, h2 {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
    font-weight: 300;
    color:#FFC200;
    line-height: 50px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 17px;
	line-height: 32px;
}

::selection { background: #FFC200; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn  {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: #a8a61d;
	border: 0;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}



/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dashed #ccc;
}


/***** Top menu *****/

.navbar {
	background: #FFC200;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	backface-visibility: hidden;
}
.navbar.navbar-no-bg { background: #444; background: rgba(0, 0, 0, 0.2); }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 600; }
.navbar-dark .navbar-nav .nav-link { color: #fff; color: rgba(255, 255, 255, 0.8); border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: rgb(10, 9, 5); }


.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }




/***** Tradition *****/

.top-content {
    padding: 210px 0;
}

.top-content .text {
	color: whitesmoke;
	background-color: #333

}

.top-content .text h1 {
	margin-top: 25px;
	color:whitesmoke;
}

.top-content .description {
	margin: 30px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .top-big-link {
	margin-top: 45px;
}


/***** Activities *****/

.services-box {
	padding-top: 30px;
	text-align: left;
}

.services-box .services-box-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    border-radius: 28px;
    
}

.services-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}




/*****Activity Schedule *****/

.activities-container .section-bottom-button {
	padding-top: 30px;
}


/***** Places *****/

.portfolio-box {
	padding-top: 30px;
	text-align: left;
}



.portfolio-container .section-bottom-button {
	padding-top: 40px;
}
